*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}


/*-------------------------------------------------------------------------------NAVBAR*/
#navbar{
	/*background-color: rgba(0,0,0,0.5);*/
	background-color: #1d1d1f;
}
#navbar .navbar-brand,
#navbar .nav-item .nav-link{
	color: #f5f5f7;
}
.navbar-brand{
	position: relative;
	font-size: 30px;
}
#nav-box{
	position: absolute;
	top: 40%;
	left: 95px;
}
.navbox-item {
    position: absolute;
    left: 48%;
    display: inline-block;
    font-weight: normal;
    color: #ffffff;
    margin-top: 5%;
    text-decoration: none;
    overflow: hidden;
}

.navbox-item-sub {
	background-color: rgba(0,0,0,.5);
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid red;
}

 .navbox-triangle {
    position: absolute;
    display: block;
    top: 25%;
    left: 22.5%;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid red;
}
#nav-box-x{
	position: absolute;
	top: 9%;
	left: 117px;
}

#navitemBooking{
	animation: blinker 1s linear infinite;
	padding-right: 20px;
}
@keyframes blinker {
  50% {
    opacity: 0;
    color: red;
  }
}




/*-------------------------------------------------------------------------------LOADING*/

/*CATALOG - LOADING*/
#loading-col{
	height: 50vh;
}
#loading-text{
	line-height: 300px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
	/*text-shadow: 0 0 10px #311b92;*/
	letter-spacing: 4px;
	/*color: #f5f5f7;*/
	/*color: #311b92;*/
	color: #1d1d1f;
}
.loading{
	position: relative;
	width: 300px;
	height: 300px;
	margin-top: 25px;
	margin-left: 40%;
	border-radius: 50%;
	background: transparent;
}
.loading:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/*border-top: 10px solid #f5f5f7;*/
	/*border-top: 10px solid #311b92;*/
	border-top: 10px solid #1d1d1f;
	/*border-right: 10px solid #f5f5f7;*/
	/*border-right: 10px solid #311b92;*/
	border-right: 10px solid #1d1d1f;
	border-radius: 50%;
	animation: animate 2s linear infinite;
}

@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}	
}

/*ADMIN - LOADING*/
.ring{
	position: relative;
	width: 85px;
	height: 85px;
	margin-top: 25px;
	background: transparent;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #311b92;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-shadow: 0 0 10px #311b92;
	padding-left: 7.5px;
	margin-left: 40%;
}

.ring:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-top: 3px solid #311b92;
	border-right: 3px solid #311b92;
	border-radius: 50%;
	animation: animateCircle 2s linear infinite;
}

@keyframes animateCircle{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}	
}
.ring-margin{
	margin-left: 45%;
}










/*-------------------------------------------------------------------------------HOME*/
#home-container{
	height: 100vh;
	width: 100%;
	background: 
		url(../images/music/music3.jpg),
		url(../images/music/sing.jpg),
		url(../images/music/mic1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: hard-light;
	padding-top: 15%;
	text-align: center;
}

#home-container .row{
	position: relative;
}
#home-container .row h1{
	font-weight: bolder;
	font-size: 150px;
	color: #f5f5f7;
}
#home-container .row #under-h1{
	position: absolute;
	font-weight: bolder;
	font-size: 150px;
	top: 0px;
	left: 75.7%;
	color: #f5f5f7;
	/*color: black;*/

}
#home-container .row p{
	font-weight: bolder;
	font-size: 35px;
	color: #f5f5f7;
	text-shadow: 0px 0px 10px rgba(0,0,0,2);
}
#p-home1{
	position: absolute;
	top: 145px;
	left: 35%;
}
#p-home2{
	position: absolute;
	top: 75px;
	left: 69.5%;
}

.mouse-scroll {
    position: absolute;
    left: 48%;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 5%;
    text-decoration: none;
    overflow: hidden;
}

.mouse-scroll .mouse {
	background-color: rgba(0,0,0,.5);
	/*background-color: rgba(255,255,255,1);*/
    position: relative;
    display: block;
    width: 75px;
    height: 75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid red;
    /*border: 2px solid #f5f5f7;*/
}

.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 15%;
    left: 30%;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 35px solid red;
    -webkit-animation: scroll-ani 2s linear infinite;
    animation: scroll-ani 2s linear infinite;
}
@-webkit-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 15%;
    }
    15% {
        opacity: 1;
        top: 40%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 15%;
    }
}

@keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 15%;
    }
    15% {
        opacity: 1;
        top: 40%;
    }
    50% {
        opacity: 0;
        top: 40%;
    }
    100% {
        opacity: 0;
        top: 15%;
    }
}


/*-------------------------------------------------------------------------------CATALOG*/
#catalog-container{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 150px;
	/*background: 
		url(../images/music/image.jpg),
		url(../images/music/singa.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;*/
	position: relative;

}
.cart-image{
	width: 100%;
	height: 100%;
}
#catalog-container .row h1{
	padding-bottom: 25px;	
	/*color: #f5f5f7;*/
	color: #1d1d1f;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 6px;

}
#catalog-container .row p{
	color: #f5f5f7;
	font-weight: bolder;

}
#catalog-container .row .col-lg-12{
	padding-bottom: 25px;
}
#catalog-container .row .col-lg-4{
	position: relative;
	margin-bottom: 30px;
}
#catalog-container .row .col-lg-4 .cart-label{
	position: absolute;
	top: 5%;
	left: 10%;
	color: #f5f5f7;
	font-weight: bolder;
	text-shadow: 0px 0px 10px rgba(0,0,0,2);
}
#catalog-container .row .col-lg-4 .img-fluid{
	height: 40vh;
	/*box-shadow: 
		-0px -0px 50px rgba(0,0,0,.9),
		0px 0px 50px rgba(0,0,0,.9)*/
}
.cart-button{
	padding-top: 115px;
	padding-left: 215px;

}
.cart-btn{
	border-radius: 0px;
	border: 1px solid #f5f5f7;
	width: 100px;
	text-shadow: 0px 0px 10px rgba(0,0,0,2);
	box-shadow: 0px 0px 10px rgba(0,0,0,2);
	color: #f5f5f7;
}
.cat-notif{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 15%;
	padding-left: 32.5%;
	padding-right: 32.5%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.8);
	visibility: hidden;
	overflow: hidden;
}
.cat-notif-msg{
	height: 175px;
	background-color: #f5f5f7;
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	overflow: hidden;
}
.cat-notif-msg h5{
	text-align: center;
	padding-bottom: 15px;
}
.cat-notif-msg button{
	border-radius: 0;
	margin-right: 7.5px;
	float: right;
}





/*-------------------------------------------------------------------------------REGISTER*/
#register-container{
	height: 100%;
	color: #f5f5f7;
	padding: 100px 125px 50px 125px;
	background: 
		url(../images/music/mic1a.jpg),
		url(../images/music/music3b.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: overlay;
}
#form-register{
	box-shadow: 0 15px 50px rgba(255,255,255,0.5);
	padding: 25px 50px;
}
#form-register h1{
	padding-bottom: 15px;
}
#form-register input,
#form-register button,
#form-register select,
#form-register textarea{
	border-radius: 0px;
	border: 1px solid #f5f5f7;
	background-color: transparent;
	color: #f5f5f7;
}
select option {
    background: rgba(0,0,0,1); 
    color: #f5f5f7;
}
#form-register textarea{
	height: 70px;
}
#form-register button{
	width: 200px;
	float: right;
	color: #f5f5f7;
	border: 1px solid #f5f5f7;
}
#half1{
	padding-right: 25px;
}
#half2{
	padding-left: 25px;
}



/*-------------------------------------------------------------------------------LOGIN*/
#login-container{
	height: 100%;
	color: #f5f5f7;
	background: 
		url(../images/music/mic1a.jpg),
		url(../images/music/music3b.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: overlay;
	padding-top: 175px;
	padding-bottom: 125px;
	padding-right: 75px;
}
.login-col{
	padding-right: 125px;
	padding-left: 125px;
}
#form-login{
	box-shadow: 0 15px 50px rgba(255,255,255,0.5);
	padding-top: 50px;
	padding-bottom: 125px;
	padding-left: 50px;
	padding-right: 50px;
}

#form-login h1{
	padding-bottom: 25px;
}
#form-login input,
#form-login button{
	border-radius: 0px;
	border: 1px solid #f5f5f7;
	background-color: transparent;
	color: #f5f5f7;
}
#form-login button{
	width: 150px;
	float: right;
	margin-top: 15px;

}
#form-login button:hover{
	float: right;
	width: 150px;
	color: #000;
	border: 0px solid #f5f5f7;
	background-color: #f5f5f7;
}



/*-------------------------------------------------------------------------------ADMIN*/

#admin-container{
	height: 100%;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	background: 
		url(../images/music/mic1a.jpg),
		url(../images/music/music3b.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: overlay;
}

#admin-small-col{
	padding-top: 15px;
	padding-bottom: 15px;
}
#admin-prof{
	/*box-shadow: 0 15px 50px rgba(0,0,0,0.5);*/
	/*box-shadow: 0 15px 50px rgba(255,255,255,0.5);*/
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	/*background-color: #01233f;*/
	background-color: #311b92;
	color: #f5f5f7;
	margin-bottom: 10px;
}
.admin-img-box{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	text-align: center;
	background-color: #f5f5f7;
	font-size: 65px;
}
#admin-name{
	position: absolute;
	top: 35px;
	left: 125px;
	font-size: 25px;
	text-transform: uppercase;
}
#admin-role{
	position: absolute;
	top: 70px;
	left: 125px;
}
.admin-img-box .fa-user{
	color: #1a237e;
}
#admin-links{
	box-shadow: 0 0 15px rgba(0,0,0,1);
	padding-top: 30px;
	padding-bottom: 15px;
	padding-left: 25px;
	background-color: #311b92;
}
.admin-ul{
	list-style: none;
}
#admin-a1,
#admin-a2,
#admin-a3,
#admin-a4{
	text-decoration-line: none;
	color: #f5f5f7;
}
#admin-large-col{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}


/*ADMIN - PAYMENT MODE*/
.paymentmode-ul{
	box-shadow: 0 0 15px rgba(0,0,0,1);
	padding-top: 30px;
	padding-bottom: 35px;
	padding-left: 15px;
	padding-right:15px;
	overflow: hidden;
	background-color: #f5f5f7;
}
.paymentmode-ul li{
	list-style: none;
	display: flex;
	transition: 0.5s;
}

.paymentmode-ul li span:nth-child(1){
	width: 75%;
	padding-left: 10px;
	padding-top: 7.5px;
}
.paymentmode-ul li span:nth-child(2){
	width: 25%;
	text-align: right;
}
.paymentmode-ul li:hover{
	background-color: #311b92;
	color: #f5f5f7;
}
.paymentmode-ul .btn-item:hover{
	transform: scale(1.25);
	color: #f5f5f7;
}

#mode-add-col{
	padding-top: 32.5px;
}

.paymentmode-div{
	display: flex;
}
.paymentmode-div span:nth-child(1){
	width: 80%;
	padding-left: 10px;
}
.paymentmode-div span:nth-child(2){
	width: 10%;
	text-align: right;
}
#modal-mode,
#modal-mode-update{
	top: 85px;
}

.mode-modal-header{
	background-color: #311b92;
	color: #f5f5f7;
}
.mode-modal-header .close{
	color: #f5f5f7;
}
.mode-modal-header .close:hover{
	color: #b71c1c;
	text-shadow: 0 1px 0 #b71c1c;
}
#modal-mode-update .form-control,
#modal-mode .form-control{
	border-radius: 0px;
	border: 1px solid #311b92;
}
.modal-body{
	padding-top: 50px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}
#mode-modal-submit,
#mode-modal-update{
	background-color: #311b92;
	color: #f5f5f7;
	border-radius: 0px;
	float: right;
	margin-top: 15px;
	width: 100px;
}






/*ADMIN -ROLE*/
.role-ul{
	background-color: #f5f5f7;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	padding-top: 30px;
	padding-bottom: 35px;
	padding-left: 15px;
	padding-right:15px;
	overflow: hidden;
}

.role-ul li{
	list-style: none;
	display: flex;
	transition: 0.5s;
}
.role-ul li span:nth-child(1){
	width: 75%;
	padding-left: 10px;
	padding-top: 7.5px;
}
.role-ul li span:nth-child(2){
	width: 25%;
	text-align: right;
}
.role-ul li:hover{
	background-color: #311b92;
	color: #f5f5f7;
}
.role-ul .btn-item:hover{
	transform: scale(1.25);
	color: #f5f5f7;
}

#role-add-col{
	padding-top: 32.5px;
}

.role-div{
	display: flex;
}
.role-div span:nth-child(1){
	width: 80%;
	padding-left: 10px;
}
.role-div span:nth-child(2){
	width: 10%;
	text-align: right;
}

#modal-role,
#modal-role-update{
	top: 85px;
}

.role-modal-header{
	background-color: #311b92;
	color: #f5f5f7;
}
.role-modal-header .close{
	color: #f5f5f7;
}
.role-modal-header .close:hover{
	color: #b71c1c;
	text-shadow: 0 1px 0 #b71c1c;
}
#modal-role-update .form-control,
#modal-role .form-control{
	border-radius: 0px;
	border: 1px solid #311b92;
}

#role-modal-submit,
#role-modal-update{
	background-color: #311b92;
	color: #f5f5f7;
	border-radius: 0px;
	float: right;
	margin-top: 15px;
	width: 100px;
}




/*ADMIN - ROOM*/
#room-row{
	height: 100%;
	padding-top: 15px;
}
.room-ul{
	background-color: #f5f5f7;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right:15px;
	overflow: hidden;
}
#room-list-label{
	background-color: #311b92;
	color: #f5f5f7;
	padding-bottom: 10px;
	border-bottom: 1px solid #f5f5f7;
}
#room-list-label span:nth-child(4){
	padding-top: 10px;
	padding-left: 35px;
}

.room-ul li{
	list-style: none;
	display: flex;
	transition: 0.5s;
}
.room-ul li span:nth-child(1){
	width: 45%;
	padding-left: 10px;
	padding-top: 7.5px;
}
.room-ul li span:nth-child(2){
	width: 25%;
	padding-left: 10px;
	padding-top: 7.5px;
}
.room-ul li span:nth-child(3){
	width: 15%;
	padding-left: 10px;
	padding-top: 7.5px;
}
.room-ul li span:nth-child(4){
	width: 5%;
}

.room-ul li:hover{
	background-color: #311b92;
	color: #f5f5f7;
}
.room-ul .btn-item:hover{
	transform: scale(1.25);
	color: #f5f5f7;
}
.room-div{
	display: flex;
}
#room-span-header{
	width: 90%;
	padding-left: 10px;
}
#room-span-add{
	width: 10%;
	padding-top: 10px;
}

#modal-room .modal-body,
#modal-room-update .modal-body{
	padding-top: 25px;
}
.room-modal-header{
	background-color: #311b92;
	color: #f5f5f7;
}
.room-modal-header .close{
	color: #f5f5f7;
}
.room-modal-header .close:hover{
	color: #b71c1c;
	text-shadow: 0 1px 0 #b71c1c;
}
#modal-room .form-control,
#modal-room-update .form-control{
	border-radius: 0px;
	border: 1px solid #311b92;
}

#room-modal-submit,
#room-modal-update{
	background-color: #311b92;
	color: #f5f5f7;
	border-radius: 0px;
	float: right;
	margin-top: 15px;
	width: 100px;
}

.image-label{
	overflow: hidden;
	border: 1px solid #311b92;
	border-radius: 0px;
}
.img-preview-div{
	padding-bottom: 20px;
}



/*ADMIN - USER*/
#user-row{
	height: 100%;
	padding-top: 15px;
}
.user-ul{
	background-color: #f5f5f7;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right:15px;
	overflow: hidden;
}
#user-list-label{
	background-color: #311b92;
	color: #f5f5f7;
	padding-bottom: 10px;
	border-bottom: 1px solid #f5f5f7;
}
#user-list-label span:nth-child(3){
	padding-top: 10px;
	padding-left: 35px;
}

.user-ul li{
	list-style: none;
	display: flex;
	transition: 0.5s;
}
.user-ul li span:nth-child(1){
	width: 45%;
	padding-left: 10px;
	padding-top: 7.5px;
}
.user-ul li span:nth-child(2){
	width: 40%;
	padding-left: 10px;
	padding-top: 7.5px;
}
.user-ul li span:nth-child(3){
	width: 10%;
}

.user-ul li:hover{
	background-color: #311b92;
	color: #f5f5f7;
}
.user-ul .btn-item:hover{
	transform: scale(1.25);
	color: #f5f5f7;
}
.user-div{
	display: flex;
}

.user-div span:nth-child(1){
	width: 90%;
	padding-left: 10px;
}
.user-div span:nth-child(2){
	width: 10%;
	padding-top: 10px;
}

#modal-user .modal-body{
	padding-top: 25px;
}
#user-modal-header{
	background-color: #311b92;
	color: #f5f5f7;
}
#user-modal-header .close{
	color: #f5f5f7;
}
#user-modal-header .close:hover{
	color: #b71c1c;
	text-shadow: 0 1px 0 #b71c1c;
}
#modal-user-update .form-control,
#modal-user .form-control{
	border-radius: 0px;
	border: 1px solid #311b92;
}

#user-modal-submit,
#user-modal-update{
	background-color: #311b92;
	color: #f5f5f7;
	border-radius: 0px;
	float: right;
	margin-top: 15px;
	width: 100px;
}

#employeelist-col{
	margin-bottom: 15px;
}

#customerlist-col li span:nth-child(3){
	width: 10%;
	padding-left: 45px;
}







/*-------------------------------------------------------------------------------CASHIER*/

#cashier-container{
	height: 100%;
	padding-top: 100px;
	padding-bottom: 150px;
	padding-left: 50px;
	padding-right: 50px;
	background: 
		url(../images/music/mic1a.jpg),
		url(../images/music/music3b.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: overlay;
}

#cashier-row-label{
	display: flex;
	background-color: #01233f;
	margin-bottom: 25px;
}
#booking{
	width: 50%;
	padding-top: 40px;
	padding-right: 15px;
	text-align: right;
	color: #f5f5f7;
}

#cashier-label{
	width: 50%;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	color: #f5f5f7;
}

.cashier-img-box{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	text-align: center;
	background-color: #f5f5f7;
	font-size: 65px;
}
.cashier-img-box .fa-user{
	color: #01233f;
}
#cashier-name{
	position: absolute;
	top: 35px;
	left: 125px;
	font-size: 25px;
	text-transform: uppercase;
}
#cashier-role{
	position: absolute;
	top: 70px;
	left: 125px;
}
#cashier-name button{
	font-size: 17.5px;
	margin-left: 17.5px;
	color: #f5f5f7;
	background-color: transparent;
	border: 0;
	outline: none;
}

#modal-booking-update,
#modal-cashier-update{
	top: 70px;
}
#booking-modal-submit,
#cashier-modal-update{
	background-color: #311b92;
	color: #f5f5f7;
	border-radius: 0px;
	float: right;
	margin-top: 15px;
	width: 100px;
}

#cashier-container ul{
	list-style: none;
}
ul li h5{
	padding-bottom: 15px;
}

#checkin-ul{
	background-color: #f5f5f7;
	padding: 30px;
	margin-top: 15px;
	box-shadow: 0 0 15px rgba(0,0,0,1);
}
#approved-ul,
#pending-ul{
	background-color: #f5f5f7;
	padding: 30px;
	box-shadow: 0 0 15px rgba(0,0,0,1);
}
#approved-ul li span button,
#pending-ul li span button{
	padding-top: 0px;
	padding-bottom: 0px;
}
#approved-ul li span button i,
#pending-ul li span button i{
	padding-top: 0px;
	padding-bottom: 0px;
}

#checkin-ul li,
#approved-ul li,
#pending-ul li{
	display: flex;
	transition: 0.5s;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
#checkin-ul li span:nth-child(1),
#approved-ul li span:nth-child(1),
#pending-ul li span:nth-child(1){
	width: 35%;
	padding-top: 5px;
	text-transform: capitalize;
}
#checkin-ul li span:nth-child(2),
#approved-ul li span:nth-child(2),
#pending-ul li span:nth-child(2){
	width: 35%;
	padding-top: 5px;
}
#checkin-ul li span:nth-child(3),
#approved-ul li span:nth-child(3),
#pending-ul li span:nth-child(3){
	width: 20%;
	padding-top: 5px;
}
#approved-ul li span:nth-child(4),
#pending-ul li span:nth-child(4){
	width: 10%;
	text-align: right;
}
#checkin-ul li span:nth-child(4){
	width: 10%;
}
.list-header{
	background-color: #01233f;
	color: #f5f5f7;
	padding-left: 5px;
	padding-right: 5px;
}





/*-------------------------------------------------------------------------------CUSTOMER*/
#customer{
	height: 100%;
	padding-top: 175px;
	padding-bottom: 100px;
	padding-right: 300px;
	padding-left: 300px;
	background: 
		url(../images/music/mic1a.jpg),
		url(../images/music/music3b.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: overlay;
}

#customer-profile-col{
	position: relative;
	padding-top: 100px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	text-align: center;
	background-color: #f5f5f7;
}


#customer-img-box{
	position: absolute;
	top: -100px;
	left: 37.5%;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	background-color: #01233f;
	text-align: center;
	padding: 10px;
}

#customer-img-box .fa-user{
	color: #f5f5f7;
	font-size: 150px;

}

#customer-name{
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 50px;
	letter-spacing: 5px;
	padding-left: 35px;
}
#customer-name button{
	font-size: 17.5px;
	margin-left: 17.5px;
	background-color: transparent;
	border: 0;
	outline: none;
}


#transaction-history-col{
	background-color: #f5f5f7;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	padding: 25px;
}
#transaction-history-col h4{
	padding-bottom: 25px;
}
#transaction-history-col ul{
	list-style: none;
}
#transaction-history-col ul li{
	display: flex;
}
#transaction-history-col ul li span:nth-child(1){
	width: 25%;
}
#transaction-history-col ul li span:nth-child(2){
	width: 25%;
}
#transaction-history-col ul li span:nth-child(3){
	width: 25%;
}
#transaction-history-col ul li span:nth-child(4){
	width: 10%;
}

.history-list{
	padding: 5px;
}
#history-label{
	background-color: #01233f;
	color: #f5f5f7;
	font-weight: bold;
	padding: 5px;
}

#customer-modal-update{
	background-color: #311b92;
	color: #f5f5f7;
	border-radius: 0px;
	float: right;
	margin-top: 15px;
	width: 100px;
}


/*-------------------------------------------------------------------------------BOOKING MODAL*/
#modal-customer-booking{
	top: 40px;
}
#modal-customer-booking .modal-body{
	padding-top: 25px;
}
#modal-customer-booking .modal-body button{
	border-radius: 0px;
	float: right;
	margin-top: 15px;
}


/*-------------------------------------------------------------------------------FOOTER */
#footer-container{
	/*background: #01233f;*/
	background-color: #1d1d1f;
	color: #f5f5f7;
	padding-top: 25px;
	padding-left: 100px;
	padding-right: 100px;
}
#footer-container .row .col-lg-4 div{
	font-size: 12px;
}
#footer-container .row .col-lg-4 div a{
	color: #f5f5f7;
}
#footer-container .row .col-lg-4 div i{
	margin-right: 10px;
}
#copyright-col{
	padding-top: 25px;
	text-align: center;
	font-size: 12px;
}
#copyright-col p i{
	margin-right: 5px;
}
#footer-container .row .col-lg-4 p{
	/*border-bottom: 2px solid #f5f5f7;*/
}









/*------------------------------------------------------------------------------- FOR MOBILE SCREEN*/
@media only screen and (max-width: 400px){
	/*-------------------------------------------------------------------------------LOADING*/
	/*CATALOG - LOADING*/
	#loading-col{
		height: 75vh;
	}
	#loading-text{
		line-height: 200px;
		font-size: 30px;
	}
	.loading{
		width: 200px;
		height: 200px;
		margin-top: 100px;
		margin-left: 22.5%;
	}


	/*ADMIN - LOADING*/
	.ring{
		position: relative;
		width: 85px;
		height: 85px;
		margin-top: 25px;
		background: transparent;
		border-radius: 50%;
		text-align: center;
		line-height: 80px;
		font-family: sans-serif;
		font-size: 10px;
		font-weight: bolder;
		color: #311b92;
		letter-spacing: 4px;
		text-transform: uppercase;
		text-shadow: 0 0 10px #311b92;
		padding-left: 7.5px;
		margin-left: 40%;
	}

	.ring:before{
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		/*border: 3px solid transparent;*/
		border-top: 3px solid #311b92;
		border-right: 3px solid #311b92;
		border-radius: 50%;
		animation: animateCircle 2s linear infinite;
	}

	@keyframes animateCircle{
		0%{
			transform: rotate(0deg);
		}
		100%{
			transform: rotate(360deg);
		}	
	}
	.ring-margin{
		margin-left: 45%;
	}


	/*-------------------------------------------------------------------------------NAVBAR*/
	#navbar{
		/*background-color: rgba(0,0,0,1);*/
		background-color: #1d1d1f;
	}
	#navbar .nav-item{
		padding-left: 15px;
	}
	.navbar-toggler-icon{
		border: 1px solid rgba(255,255,255,.5);
		height: 10px;
		width: 25px;
		border-left: solid transparent;
		border-right: solid transparent;		
	}
	.navbar-toggler{
		line-height: 0;
		height: 20px;
		width: 30px;
		padding-left: 0px;
		padding-right: 0px;
		border-radius: 0;
    	border-color: rgba(255,255,255,.5);
    	border-left: solid transparent;
		border-right: solid transparent;
		overflow: hidden;
	}

	#navbar button:focus {
		outline: none;
		box-shadow: none;
		border-color: red;
		border-left: solid transparent;
		border-right: solid transparent;
	}
	#nav-box{
		left: 95px;
	}
	#nav-box-x{
		left: 118px;
	}

	/*-------------------------------------------------------------------------------HOME*/
	#home-container{
		padding-top: 60%;
		text-align: initial;
		padding-left: 25px;
	}
	#home-container .row h1{
		font-size: 70px;
	}
	#home-container .row #under-h1{
		font-size: 70px;
		left: 82%;
	}
	#home-container .row p{
		font-size: 20px;
	}
	#p-home1{
		position: relative;
		top: 0px;
		left: 0;
		text-align: center;
	}
	#p-home2{
		top: 35px;
		left: 70%;
	}
	.mouse-scroll .mouse {
	    width: 40px;
	    height: 40px;
	}
	.mouse-scroll .mouse .mouse-movement {
	    left: 25%;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 15px solid red;
	}


	/*-------------------------------------------------------------------------------CATALOG*/
	#catalog-container{
		padding-top: 100px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 50px;
	}
	#catalog-container .row h1{
		padding-bottom: 0;	
	}
	.cat-notif{
		padding-top: 50%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.cat-notif-msg{
		padding-top: 25px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}


	/*-------------------------------------------------------------------------------REGISTER*/
	#register-container{
		padding: 100px 25px 50px 25px;
	}
	#form-register{
		padding: 25px 25px 50px 25px;
	}
	#form-register button{
		margin-top: 25px;
	}
	#half1{
		padding-left: 25px;
	}
	#half2{
		padding-right: 25px;
	}

	/*-------------------------------------------------------------------------------LOGIN*/
	#login-container{
		padding: 125px 25px 100px 25px;
	}
	.login-col{
		padding-right: 25px;
		padding-left: 25px;
	}


	/*-------------------------------------------------------------------------------ADMIN*/
	#admin-container{
		padding-top: 75px;
		padding-right: 25px;
		padding-left: 25px;
	}
	#admin-small-col{
		padding-bottom: 0px;
	}
	.mobile-hide{
		display: none;
	}
	.mobile-adjust{
		padding-left: 75px;
	}
	.mobile-adjust-single{
		padding-left: 87.5px;
	}


	/*-------------------------------------------------------------------------------CASHIER*/
	#cashier-container{
		padding: 100px 25px 150px 25px;
	}

	#cashier-row-label{
		display: grid;
		margin-bottom: 10px;
	}
	#booking{
		width: 100%;
		padding: 15px 0px 15px 15px;
		text-align: center;
	}
	#booking h3{
		border-bottom: 1px solid #f5f5f7;		
	}
	#cashier-name{
		display: flex;
	}
	#modal-booking-update,
	#modal-cashier-update{
		top: 0px;
	}
	#pendingCol,
	#approvedCol,
	#checkinCol{
		padding: 0;
		margin-top: 25px;
	}

	#checkin-ul{
		padding: 15px 15px 15px 15px;
		margin-top: 0px;
	}
	#approved-ul,
	#pending-ul{
		padding: 15px;
	}

	#checkin-ul li span:nth-child(3),
	#approved-ul li span:nth-child(3),
	#pending-ul li span:nth-child(3){
		width: 30%;
	}
	ul li h5{
		padding-bottom: 0px;
	}

	/*-------------------------------------------------------------------------------CUSTOMER*/
	#customer{
		padding-top: 150px;
		padding-right: 25px;
		padding-left: 25px;
	}
	#customer-profile-col{
		padding-top: 50px;
	}
	#customer-img-box{
		top: -50px;
		left: 35%;
		height: 100px;
		width: 100px;
	}
	#customer-img-box .fa-user{
		font-size: 75px;
	}
	#customer-name{
		font-size: 35px;
	}
	#transaction-history-col{
		padding-top: 25px 15px 15px 15px;
	}
	#transaction-history-col ul li span:nth-child(1),
	#transaction-history-col ul li span:nth-child(2){
		width: 35%;
	}
	#transaction-history-col ul li span:nth-child(3){
		width: 0%;
		display: none;
	}
	#transaction-history-col ul li span:nth-child(4){
		width: 25%;
	}


	/*-------------------------------------------------------------------------------FOOTER */
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
}


/*------------------------------------------------------------------------------- FOR TABLET SCREEN*/
@media only screen and (min-width: 401px) and (max-width: 768px){}